<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> {% block title %} Page d'accueil {% endblock %}</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign_up' %}">Create a user</a>
                </li>
                <li class="nav-item">
                  {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'user-detail' pk=request.user.id %}"> {{request.user.username}}</a>
                  {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
            <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
            <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
          </div>
        </div>
    </body>
</html>