{% extends 'base_layout.html' %}
{% block title %} Page d'accueil | Ayomi test {% endblock %}
{% block content %}
    <h1> Test Ayomi </h1>
    <p>Cliquer sur "create a user" pour ajouter un utilisateur, connectez vous et vous pouvez modifier votre email.</p>
{% endblock %}