    {% extends 'base_layout.html' %}
    {% load crispy_forms_tags %}

    {% block content %}
        <h1> Login </h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-success">Log in</button>        
            </form>
    {% endblock %}