{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> Sign Up </h1>
        <form action="{% url 'sign_up' %}" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-success">Sign in</button>        
        </form>
{% endblock %}