{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<div>
    
    <div class="d-flex">
        <span> Email: </span><p id="user-mail">{{ object.email }} </p>
    </div>
    <div class="d-flex">
        <span> Username:</span><p>{{ object.username }} </p>
    </div>
    <div class="d-flex">
        <span> First name:</span><p>{{ object.first_name }} </p>
    </div>
    <div class="d-flex">
        <span> Last name:</span><p>{{ object.last_name }} </p>
    </div>
    <div class="d-flex">
        <span> Phone number:</span><p>{{ object.phone_number }} </p>
    </div>
    
    {% if request.user.id == user.id %}
        <a class="btn btn-secondary" href="{% url 'logout' %}">Log out</a>
        <a class="btn btn-warning" data-toggle="modal" data-target="#staticBackdrop">Modifier</a>
    {% endif %}
    
    <!-- Form modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Change my information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                </div>
                <form method="POST" id="form">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form | crispy }}
                        <input type="hidden" id="userId" value={{user.id}}>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="btn-submit" class="btn btn-warning">Submit</button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}